.navbar {
  position: fixed;
  top: 0;
  background-color: #6fb1b4;
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    color: #ffe7d1;
    font-size: larger;

    .startButton {
      background-color: #eb6851;
      width: 150px;
      height: 40px;
      border: none;
      color: white;
      font-weight: bold;
      -webkit-box-shadow: 3px 3px 5px -2px rgb(54, 54, 54);
      -moz-box-shadow: 3px 3px 5px -2px rgb(54, 54, 54);
      box-shadow: 3px 3px 5px -2px rgb(54, 54, 54);
      cursor: pointer;

      a {
        text-decoration: none;
        color: white;
        height: 150px;
        width: 40px;
        font-family: "OtherText";
      }

      @media (max-width: 620px) {
        display: none;
      }
    }

    .title {
      margin-left: 60px;
      margin-right: 60px;
      font-family: "Title";

      @media (max-width: 620px) {
        margin: 0;
      }
    }

    .topListButton {
      background-color: #00cdff;
      width: 150px;
      height: 40px;
      border: none;
      color: white;
      font-weight: bold;
      -webkit-box-shadow: 3px 3px 5px -2px rgb(54, 54, 54);
      -moz-box-shadow: 3px 3px 5px -2px rgb(54, 54, 54);
      box-shadow: 3px 3px 5px -2px rgb(54, 54, 54);
      cursor: pointer;

      a {
        text-decoration: none;
        color: white;
        font-family: "OtherText";
      }

      @media (max-width: 620px) {
        display: none;
      }
    }

    @media (max-width: 620px) {
      //background-color: red;
    }
  }
}
